.App{
  border:1px solid ;
  margin:50px 30px ;
  padding:25px 15px ;
}
.to-do-container{
  display: flex;
  flex-direction: column;
}
.to-do-container ul li{
  width: 170px;
  overflow-wrap: break-word;
  list-style-type: disc;
  cursor: pointer;
}
.done{
  text-decoration: line-through;
}
.item{
  display: flex;
  justify-content: space-between;
}
.trash{
  cursor: pointer;
}